#IDE's
./.vscode/

# python wheels
./build/
./dist/

#python
*.pyc
__pycache__/
./.venv/

#git
./.git
./.gitignore

#linting
/.pylintrc

#Docs
README.md

#Misc
./*.rest
./.pre-commit-config.yaml

#pipenv
./Pipfile
./Pipfile.lock

#poetry
./poetry.lock
./pyproject.toml

#mypy
.mypy_cache/

#configs
config.toml.sample

./tests/
./scripts/
./saves/*
./docs/
./.coverage
./coverage_html/*
./.env